awesome-slugify
certifi
Django==4.2
django-crispy-forms
django-easy-maps
django-environ
django-filter
django-geoposition
django-location-field
django-olwidget
django-profiles
django-registration
django-social-auth
django-tables2
geopy
lxml
mysqlclient
Pillow
pylint-django
pymysql
python-memcached
