{% load i18n %}
{% load static %}


<div class="modal fade" tabindex="-1" role="dialog" id="myModalPoints">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form hx-post="{% url "add-route-point" route.id %}" hx-target="#route-points"
                hx-swap="innerHTML">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ route.peak.name }} {{ route.name }}</h4>
        <h4 class="modal-title">{% trans "Add new route point" %}</h4>
      </div>
      <div class="modal-body">
        <div>
            {% csrf_token %}
            <div class="form-group">
                <label for="id_latitude_degree" class="text-info">{% trans "Latitude" %}:</label><br/>
                {{ form_point.latitude_degree }}&deg;&nbsp;
                {{ form_point.latitude_minute }}&prime;&nbsp;
                {{ form_point.latitude_second }}&Prime;
            </div>

            <div class="form-group">
                <label for="id_longitude_degree" class="text-info">{% trans "longitude" %}:</label><br/>
                {{ form_point.longitude_degree }}&deg;&nbsp;
                {{ form_point.longitude_minute }}&prime;&nbsp;
                {{ form_point.longitude_second }}&Prime;
            </div>

            <div class="form-group">
              <label for="id_description" class="text-info">{{ form_section.description.label }}:</label><br>
                {{ form_section.description }}
              <label id="description-error" class="has-error" for="id_description">{{ form_section.description.errors }}</label>
            </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button class="btn btn-primary" type="submit" name="add" >{% trans "Add point" %}</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
