{% load i18n %}
{% load static %}

<div id="replies_{{ comment.id }}" class="">
    <div class="">
        <div class="">
        </div>
        {% if show_form %}
        {% include "Routes/reply_form.html" %}
        {% else %}
        {% include "Routes/button_reply.html" %}
        {% endif %}
    </div>

    {% for reply in comment.replies %}
    <div class="geser">
      <div class="media">
        <!--div class="media-left">
          <img src="http://fakeimg.pl/50x50" class="media-object" style="width:40px">
        </div-->
        <div class="media-body">
          <h6 class="media-heading title">{{ reply.name }}</h6>
          <p class="">
            {{ reply.body|safe|linebreaks }} <br />
            <span class="text-muted"><small>{{ reply.created_on }}</small></span>
            {% if request.user.is_authenticated and reply.author == request.user %}
            <button class="btn btn-danger btn-xs" type="button" name="delete"  aria-label="Left Align"
                  hx-get="{% url "delete-reply" reply.id %}" 
                  hx-confirm="{% trans "Are you sure?" %}"
                  hx-target="closest tr" hx-swap="outerHTML">
              {% trans "Delete" %}
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </button>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
