{% load i18n %}
{% load static %}

<div id="replies_{{ comment.id }}" class="">
    <div class="">
        <div class="">
        </div>
        {% if show_form %}
        {% include "Routes/reply_form.html" %}
        {% else %}
        {% include "Routes/button_reply.html" %}
        {% endif %}
    </div>

    {% for reply in comment.replies %}
    <div class="geser bordered-replay">
      <div class="media" style="">
        <div class="media-body" style="margin: 5px">
          <h6 class="media-heading title">{{ reply.name }}</h6>
          <p class="">
            {{ reply.body|safe|linebreaks }} <br />
            
            <span class="text-muted"><small>{{ reply.created_on }}</small></span>
            {% if request.user.is_authenticated and reply.author == request.user %}
            <button class="btn btn-danger btn-xs" type="button" name="delete"  aria-label="Left Align"
                  hx-get="{% url "delete-reply" reply.id %}" 
                  hx-confirm="{% trans "Are you sure?" %}"
                  hx-target="closest tr" hx-swap="outerHTML">
              {% trans "Delete" %}
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </button>
            {% endif %}
          </p>
          
        </div> <!-- media body -->
      </div> <!-- media -->
      <div class="row">
            {% if reply.photo %}
            <div class="col-md-2">
                <img src="{{ reply.photo.url }}" alt="photo" 
                     width="{{ reply.tsize.w }}" height="{{ reply.tsize.h }}" />
            </div>
            {% endif %}
            {% if reply.doc %}
            <div class="col-md-2">
              <a href="{{ reply.doc.url }}" target="_blank">
                <span class="glyphicon glyphicon-paperclip"></span>
                <span class="label label-default">{{ reply.doc_name }}</span>
              </a>
            </div>
            {% endif %}
      </div>
    </div>
    {% endfor %}
