{% load i18n %}
{% load static %}

<tr>
  <td colspan="3">
    <form hx-target="this" hx-swap="outerHTML" hx-post="{% url "update-route-point" route.id point.id %}" >
      {% csrf_token %}
        <div>
            <span class="form-group">
                <label for="id_latitude_degree" class="text-info">{% trans "Latitude" %}:</label><br/>
                {{ form_point.latitude_degree }}&deg;&nbsp;
                {{ form_point.latitude_minute }}&prime;&nbsp;
                {{ form_point.latitude_second }}&Prime;
            </span>
            <br/>
            <span class="form-group">
                <label for="id_longitude_degree" class="text-info">{% trans "longitude" %}:</label><br/>
                {{ form_point.longitude_degree }}&deg;&nbsp;
                {{ form_point.longitude_minute }}&prime;&nbsp;
                {{ form_point.longitude_second }}&Prime;
            </span>
            <br/>
            <span class="form-group">
              {{ form_point.description }}
            </span>
        </div>
        <button class="btn btn-success">{% trans "Update" %}</button>
        <button class="btn btn-default" hx-get="{% url "get-route-point" route.id point.id %}">{% trans "Cancel" %}</button>
      </form>
  </td>
</tr>
