{% load i18n %}
{% load static %}

<tr>
  <td colspan="3">
    <form hx-target="this" hx-swap="outerHTML" hx-post="{% url "update-ridge-link" ridge.slug link.id %}" >
      {% csrf_token %}
        <div>
            <span class="form-group">
              {{ form_link.link }}
            </span>
            <br/>
            <span class="form-group">
              {{ form_link.description }}
            </span>
        </div>
        <button class="btn btn-success">{% trans "Update" %}</button>
        <button class="btn btn-default"
                hx-get="{% url "get-ridge-link" ridge.slug link.id %}">
          {% trans "Cancel" %}
        </button>
      </form>
  </td>
</tr>
