{% load i18n %}
{% load static %}
    <div class="panel panel-success bordered-reply">
      <div class="panel-body">
        <form hx-post="{% url "add-comment-reply" comment.id %}" hx-target="#replies_{{ comment.id }}"
            hx-swap="outerHTML" hx-encoding="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            {{ form.body }}
            <divid="body-error" class="has-error" for="id_body">
              {{ form.body.errors }}
            </div>
          </div>
          
          <div class="form-group">
            <label for="id_photo" class="text-info">{{ form.photo.label }}:</label><br>
            {{ form.photo }}
            <label id="photo-error" class="has-error" for="id_photo">{{ form.photo.errors }}</label>
          </div>
          
          <div class="form-group">
            <label for="id_doc" class="text-info">{{ form.doc.label }}:</label><br>
            {{ form.doc }}
            <label id="doc-error" class="has-error" for="id_doc">{{ form.doc.errors }}</label>
          </div>
          
          <div class="form-group">
            <label for="id_name" class="text-info">
              {{ form.name.label }}:
            </label><br>
            {{ form.name }}
            <div id="comment-name-error" class="has-error" for="id_name">
              {{ form.name.errors }}
            </div>
          </div>
          
          <div class="form-group">
            <label for="id_email" class="text-info">
              {{ form.email.label }}:
            </label><br>
            {{ form.email }}
            <div id="comment-email-error" class="has-error" for="id_email">
              {{ form.email.errors }}
            </div>
          </div>    
          
          <div class="form-group">
            <label for="id_homepage" class="text-info">
              {{ form.homepage.label }}:
            </label><br>
            {{ form.homepage }}
            <div id="comment-homepage-error" class="has-error" for="id_homepage">
              {{ form.homepage.errors }}
            </div>
          </div> 
          
          <div class="form-group">
            {{ form.captcha }}
            <div id="comment-captcha-error" class="has-error" for="id_captcha">
              {{ form.captcha.errors }}
            </div>
          </div> 
          
          <div class="btn-group" role="group">

            <button class="btn btn-secondary" name="cancel"
                    hx-get="{% url "get-reply-button" comment.id %}" 
                    hx-target="#form_{{ comment.id }}" hx-swap="outerHTML">
              {% trans "Cancel" %}
            </button>
           
            <button class="btn btn-success" type="submit" name="add" >
              {% trans "Send" %}
            </button>

          </div>
        </form>
      </div>
    </div>

    <button class="btn btn-success btn-xs" type="submit" name="add" 
        hx-get="{% url "get-reply-form" comment.id %}" 
        hx-target="#form_{{ comment.id }}" hx-swap="outerHTML">
        {% trans "Reply" %}
    </button>