{% load i18n %}
{% load static %}
   
    <div class="panel panel-success">
      <div class="panel-body">
        <form hx-post="{% url "add-peak-comment" peak.slug %}" hx-target="#comments-page"
            hx-swap="outerHTML" hx-encoding='multipart/form-data'>
          {% csrf_token %}
          <div class="form-group">
            {{ form_comment.body }}
            <div id="body-error" class="has-error" for="id_body">
              {{ form_comment.body.errors }}
            </div>
          </div>
          
          <div class="form-group">
            <label for="id_photo" class="text-info">{{ form_comment.photo.label }}:</label><br>
            {{ form_comment.photo }}
            <label id="photo-error" class="has-error" for="id_photo">{{ form_comment.photo.errors }}</label>
          </div>
          
          <div class="form-group">
            <label for="id_name" class="text-info">
              {{ form_comment.name.label }}:
            </label><br>
            {{ form_comment.name }}
            <div id="comment-name-error" class="has-error" for="id_name">
              {{ form_comment.name.errors }}
            </div>
          </div>
          
          <div class="form-group">
            <label for="id_email" class="text-info">
              {{ form_comment.email.label }}:
            </label><br>
            {{ form_comment.email }}
            <div id="comment-email-error" class="has-error" for="id_email">
              {{ form_comment.email.errors }}
            </div>
          </div>  
          
          <div class="form-group">
            <label for="id_homepage" class="text-info">
              {{ form_comment.homepage.label }}:
            </label><br>
            {{ form_comment.homepage }}
            <div id="comment-homepage-error" class="has-error">
              {{ form_comment.homepage.errors }}
            </div>
          </div>  
          
          <div class="form-group">
            {{ form_comment.captcha }}
            <div id="comment-captcha-error" class="has-error" for="id_captcha">
              {{ form_comment.captcha.errors }}
            </div>
          </div>  

          <div class="">
            <button class="btn btn-success" type="submit" name="add" >
              {% trans "Add comment" %}
            </button>
          </div>
        </form>
        <span class="label label-success">{{ form_message }}</span>
      </div>
    </div>
