{% load i18n %}
{% load static %}
   
    <div class="panel panel-success bordered-comment">
      <div class="panel-body">
        <form id="comment-form" hx-post="{% url "add-peak-comment" peak.slug %}" hx-target="#comments-page"
            hx-swap="outerHTML" hx-encoding='multipart/form-data'>
          {% csrf_token %}
          <div class="form-group">
            {{ form_comment.body }}
            <div id="body-error" class="has-error" for="id_body">
              {{ form_comment.body.errors }}
            </div>
          </div>
          
          <div class="form-group">
            <label for="id_photo" class="text-info">{{ form_comment.photo.label }}:</label><br>
            {{ form_comment.photo }}
            <label id="photo-error" class="has-error" for="id_photo">{{ form_comment.photo.errors }}</label>
          </div>
          
          <div class="form-group">
            <label for="id_doc" class="text-info">{{ form_comment.doc.label }}:</label><br>
            {{ form_comment.doc }}
            <label id="doc-error" class="has-error" for="id_doc">{{ form_comment.doc.errors }}</label>
          </div>
          
          <div class="form-group">
            <label for="id_name" class="text-info">
              {{ form_comment.name.label }}:
            </label><br>
            {{ form_comment.name }}
            <div id="comment-name-error" class="has-error" for="id_name">
              {{ form_comment.name.errors }}
            </div>
          </div>
          
          <div class="form-group">
            <label for="id_email" class="text-info">
              {{ form_comment.email.label }}:
            </label><br>
            {{ form_comment.email }}
            <div id="comment-email-error" class="has-error" for="id_email">
              {{ form_comment.email.errors }}
            </div>
          </div>  
          
          <div class="form-group">
            <label for="id_homepage" class="text-info">
              {{ form_comment.homepage.label }}:
            </label><br>
            {{ form_comment.homepage }}
            <div id="comment-homepage-error" class="has-error">
              {{ form_comment.homepage.errors }}
            </div>
          </div>  
          
          <div class="form-group">
            {{ form_comment.captcha }}
            <div id="comment-captcha-error" class="has-error" for="id_captcha">
              {{ form_comment.captcha.errors }}
            </div>
          </div>  

          <div class="">
            <button class="btn btn-success" type="submit" name="add" >
              {% trans "Add comment" %}
            </button>
          </div>
        </form>
        <span class="label label-success">{{ form_message }}</span>
      </div>
    </div>


    <script>   
    
      $.validator.addMethod('regexp', function(value, element, params) {
        var expression = new RegExp(params);
        return this.optional(element) || expression.test(value);
      });
      
      $.validator.addMethod('allowed_tags', function(value, element, params) {
        var expression = new RegExp(/<[^<>]+>/g);
        var restricted = false;
        var there_are_tags = expression.test(value);
        if (there_are_tags) {
          var allowed = ['i', 'code', 'strong', 'a'];
          expression = new RegExp(/<\/*\s*(?<tag>[\w+]+)\s*[^>]*>/g);
          let result = value.matchAll(expression);
          for (const match of result) {
            if (!(allowed.includes(match[1]))) {
              restricted = true;
            }
          }
        }
        var okey = !there_are_tags;
        if (!okey) {
          okey = !restricted;
        }
        return this.optional(element) || okey;
      });
      
      $(document).ready(function(){
        $("#comment-form").validate({
          rules:{
            body:{
              required: true,
              allowed_tags: true
            },
            name:{
              required: true,
              regexp: /^[a-zA-Z0-9]+$/,
              minlength: 2,
              maxlength: 100,
            },
            email:{
              required: true,
              email: true,
              minlength: 5,
              maxlength: 255,
            },
            homepage:{
              required: false,
              url: true,
              minlength: 5,
              maxlength: 255,
            },
            photo:{
              accept: "image/jpeg,image/gif,image/png"
            },
            doc:{
              accept: "text/plain"
            },
          },
          messages:{
            body:{
              allowed_tags: "{% trans "You use prohibited tags. You can use only tags &lt;i&gt;, &lt;code&gt;, &lt;strong&gt; and &lt;a&gt;." %}"),
              required: "{% trans "Required field" %}"),
            },
            name:{
              required: "{% trans "Required field"),
              regexp: "{% trans "The user name must consist only of the characters (a-z, A-Z, 0-9)." %}"),
              minlength: "{% trans "Name must be at least 2 characters long" %}"),
              maxlength: "{% trans "Maximum number of characters - 100" %}"),
            },
            email:{
              required: "{% trans "Required field" %}"),
              minlength: "{% trans "Email cannot be shorter than 5 characters" %}"),
              maxlength: "{% trans "Address too long" %}"),
            },
            homepage:{
              required: "{% trans "Required field" %}"),
              minlength: "{% trans "URL cannot be shorter than 5 characters" %}"),
              maxlength: "{% trans "URL too long" %}"),
            },
            photo:{
              accept: "{% trans "Only jpeg, gif and png files can be uploaded" %}")
            },
            doc: {
              accept: "{% trans "You can only upload files in txt format" %}")
            },
          }
        });
      });
    </script>
