{% load i18n %}
{% load static %}
    <div class="panel panel-success bordered-comment">
      <div class="panel-body">
        <form id="user-comment-form" 
              hx-post="{% url "add-peak-comment" peak.slug %}" hx-target="#comments-page"
              hx-swap="outerHTML" hx-encoding='multipart/form-data'>
          {% csrf_token %}
          <div class="form-group">
            {{ form_comment.body }}
            <label id="body-error" class="has-error" for="id_body">
              {{ form_comment.body.errors }}
            </label>
          </div>  
          
          <div class="form-group">
            <label for="id_photo" class="text-info">{{ form_comment.photo.label }}:</label><br>
            {{ form_comment.photo }}
            <label id="photo-error" class="has-error" for="id_photo">{{ form_comment.photo.errors }}</label>
          </div>

          <div class="form-group">
            <label for="id_doc" class="text-info">{{ form_comment.doc.label }}:</label><br>
            {{ form_comment.doc }}
            <label id="doc-error" class="has-error" for="id_doc">{{ form_comment.doc.errors }}</label>
          </div>
          
          <div class="">
            <button class="btn btn-success" type="submit" name="add" >
              {% trans "Add comment" %}
            </button>
          </div>
        </form>
      </div>
    </div>
    
    <script>   
         
      $.validator.addMethod('allowed_tags', function(value, element, params) {
        var expression = new RegExp(/<[^<>]+>/g);
        var restricted = false;
        var there_are_tags = expression.test(value);
        if (there_are_tags) {
          var allowed = ['i', 'code', 'strong', 'a'];
          expression = new RegExp(/<\/*\s*(?<tag>[\w+]+)\s*[^>]*>/g);
          let result = value.matchAll(expression);
          for (const match of result) {
            if (!(allowed.includes(match[1]))) {
              restricted = true;
            }
          }
        }
        var okey = !there_are_tags;
        if (!okey) {
          okey = !restricted;
        }
        return this.optional(element) || okey;
      });
      
      $(document).ready(function(){
        $("#user-comment-form").validate({
          rules:{
            body:{
              required: true,
              allowed_tags: true
            },
            photo:{
              accept: "image/jpeg,image/gif,image/png"
            },
            doc:{
              accept: "text/plain"
            },
          },
          messages:{
            body:{
              allowed_tags: "{% trans "You use prohibited tags. You can use only tags &lt;i&gt;, &lt;code&gt;, &lt;strong&gt; and &lt;a&gt;." %}"),
              required: "{% trans "Required field" %}"),
            },
            photo:{
              accept: "{% trans "Only jpeg, gif and png files can be uploaded" %}")
            },
            doc: {
              accept: "{% trans "You can only upload files in txt format" %}")
            },
          }
        });
      });
    </script>
