{% load i18n %}
{% load static %}
    <div class="panel panel-success">
      <div class="panel-body bordered-reply">
        <form hx-post="{% url "add-comment-reply" comment.id %}" hx-target="#replies_{{ comment.id }}"
            hx-swap="outerHTML" hx-encoding="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            {{ form.body }}
            <label id="body-error" class="has-error" for="id_body">
              {{ form.errors }}
            </label>
          </div>
          
          <div class="form-group">
            <label for="id_photo" class="text-info">{{ form.photo.label }}:</label><br>
            {{ form.photo }}
            <label id="photo-error" class="has-error" for="id_photo">{{ form.photo.errors }}</label>
          </div>
          
          <div class="form-group">
            <label for="id_doc" class="text-info">{{ form.doc.label }}:</label><br>
            {{ form.doc }}
            <label id="doc-error" class="has-error" for="id_doc">{{ form.doc.errors }}</label>
          </div>
          
          <div class="btn-group" role="group">
            <button class="btn btn-secondary" name="cancel"
                    hx-get="{% url "get-reply-button" comment.id %}" 
                    hx-target="#form_{{ comment.id }}" hx-swap="outerHTML">
              {% trans "Cancel" %}
            </button>
           
            <button class="btn btn-success" type="submit" name="add" >
              {% trans "Send" %}
            </button>
          </div>
        </form>
      </div>
    </div>