{% extends "Routes/base_routes.html" %}
{% load i18n %}
{% load static %}
{% load geopoint %}

{% block script_include %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
  <script src="/static/js/zooming.min.js"></script>
  <style>
    .geser {
      margin-left: 55px;
      margin-top: 5px;
    }
  </style>
{% endblock %}

{% block content %}
    {% include "Routes/peak_buttons.html" %}

    <br/><br/>

    <div class="panel panel-default">
      <div class="panel-body">
        <h2>{{ peak.name }} {{ peak.height }}м</h2>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          <a href="{% url "ridge" peak.ridge.slug %}">
            {{ peak.ridge.name }}
          </a>
        </h4>
        <div>{{ peak.point|point:"dms"|safe }}</div>
      </div>
    </div>

    {% if peak.photo %}
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="value-img thumbnail">
            <img id="img-default" src="{{ peak.photo.url }}"
                 alt="{{ peak.name }}"
                 class="img-rounded img-responsive"
                 data-action="zoom" data-original="{{ peak.photo.url }}"/>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-body">
        <div>{{ peak.description|default_if_none:''|safe }}</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="mapid" style="height: 400px;"></div>
      </div>
    </div>


    {% if peak.routes %}
    <div class="panel panel-default">
      <div class="panel-body">
      <h3>Маршруты восхождений</h3>
        <table class="table table-hover table-striped">
        {% for route in peak.routes %}
        <tr>
          <td>{{ route.number|default_if_none:'' }}</td>
          <td><a href="{% url "route" route.id %}">{{ route.name|default_if_none:'' }}</a></td>
          <td>{{ route.difficulty|default_if_none:'' }} {{ route.max_difficulty|default_if_none:'' }}</td>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}

    {% if photos %}
    {% for row in photos %}
    <div class="row">
      {% for photo in row %}
      <div class="col-md-4">
        <div class="thumbnail">
            <img src="{{ photo.photo.url }}" alt="{{ photo.description }}" style="width:100%">
            <div class="caption">
              <p>{{ photo.description|linebreaks }}</p>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
      
   
    {% include "Routes/peak_comments.html" %}
    
    <script>
      var mymap = L.map('mapid').setView(
          [{{ peak.point.latitude }}, {{ peak.point.longitude }}], 15);
      L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',
        tileSize: 512,
        zoomOffset: -1
        }).addTo(mymap);

      L.marker([{{ peak.point.latitude }}, {{ peak.point.longitude }}]).addTo(mymap).bindPopup("{{ peak.name }}");

      new Zooming().listen('img');
    </script>
{% endblock %}

