{% load i18n %}
{% load static %}

{% if can_be_edited %}
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-primary"
          onclick="document.location='{% url "add-peak-route" peak.slug %}'">
    {% trans "Add a new route" %}
  </button>
  <button type="button" class="btn btn-primary"
          onclick="document.location='{% url "edit-peak" peak.slug %}'">
    {% trans "Edit the summit" %}
  </button>
  {% if can_be_removed %}
  <button type="button" class="btn btn-danger"
          onclick="document.location='{% url "remove-peak" peak.slug %}'">
    {% trans "Remove the summit" %}
  </button>
  {% endif %}
</div>
{% endif %}
