{% load i18n %}
{% load static %}

<div class="container" id="comment_{{ comment.id }}">
  <div class="row">
  
    <div class="media">
      <div class="media-body">
        <h6 class="media-heading title">{{ comment.name }}</h6>
        <p class="">
          {{ comment.body|safe|linebreaks }} <br />
          <span class="text-muted"><small>{{ comment.created_on }}</small></span>
          
          {% if request.user.is_authenticated and comment.author == request.user %}
          <button class="btn btn-danger btn-xs" type="button" name="delete" aria-label="Left Align"
              hx-get="{% url "delete-comment" comment.id %}" 
              hx-confirm="{% trans "This comment and all replies will be deleted. Are you sure?" %}"
              hx-target="#comment_{{ comment.id }}" hx-swap="outerHTML swap:1s">
              {% trans "Delete" %}
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
          </button>
          {% endif %}
        </p>
        {% if comment.photo %}
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <div class="thumbnail thumbnail-img">
              <img src="{{ comment.photo.url }}" alt="photo" style="width:100%" >
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    
    {% include "Routes/comment-replies.html" %}
    
  </div>
</div>
