{% load i18n %}
{% load static %}


  <div id="comments-page">
  
    <h3><span class="label label-success">{{ comments_count }} {% trans "comments" %}</span></h3>
    
    <div class="panel">
      <div class="panel-body">
        {% if request.user.is_authenticated %}
        {% include "Routes/form-user-comment.html" %}
        {% else %}
        {% include "Routes/form-comment.html" %}
        {% endif %}
      </div>
    </div>
    
    <div class="table-responsive">
      <table class="table table-striped">
        {% for comment_ in comments %}
        <tr>
          <td>
        {% include "Routes/peak_comment.html" %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    
    {% if comments.has_other_pages %}
      <ul class="pagination">
        {% if comments.has_previous %}
        <li>
          <a href="" hx-get="{% url "peak-comments" peak.id comments.previous_page_number %}" 
             hx-trigger="click" hx-target="#comments-page" hx-swap="outerHTML">&laquo;</a>
        </li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in comments.paginator.page_range %}
          {% if comments.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
          <li >
            <a href="" hx-get="{% url "peak-comments" peak.id i %}" hx-trigger="click"
              hx-target="#comments-page" hx-swap="outerHTML">{{ i }}</a>
          </li>
          {% endif %}
        {% endfor %}
        {% if comments.has_next %}
          <li>
            <a href="" hx-get="{% url "peak-comments" peak.id comments.next_page_number %}" 
                 hx-trigger="click" hx-target="#comments-page" hx-swap="outerHTML">&raquo;</a>
          </li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
    

