{% load i18n %}
{% load static %}

<div class="panel panel-info" id="comment_{{ comment.id }}">
  <div class="panel-body">
    <div class="">
      <strong>{{ comment.name }}</strong>
      <p class="bg-info">{{ comment.body }}</p>
      <p class="text-muted"><small>{{ comment.created_on }}</small></p>
    </div>
    {% if request.user.is_authenticated and comment.author == request.user %}
    <div>
      <button class="btn btn-danger btn-xs" type="button" name="delete" 
              hx-get="{% url "delete-comment" comment.id %}" 
              hx-confirm="{% trans "This comment and all replies will be deleted. Are you sure?" %}"
              hx-target="#comment_{{ comment.id }}" hx-swap="outerHTML swap:1s">
              {% trans "Delete" %}
      </button>
    </div>
    {% endif %}
    {% include "Routes/comment-replies.html" %}
  </div>
</div>