{% extends "Routes/base_routes.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}

    {% block content %}
    <h3>{% trans "Peaks" %}</h3>
    <div class="panel panel-info">
      <div class="panel-heading">
        <form class="form-inline" name='filter_form' action="" method="GET">
          <div class="form-group">
            <label class="" for="ridge">
              {% trans "Ridge" %}
            </label>
            {{ form.ridge }}
          </div>
        </form>
      </div>
    </div>

    <div>
      {% render_table table %}
    </div>
    {% endblock %}

