{% extends "Routes/base_routes.html" %}
{% load i18n %}
{% load static %}

    {% block script_include %}
      <script src="{% static '/js/zooming.min.js' %}"></script>
    {% endblock %}
    
    {% block content %}
    <div>
      <h2>{{ ridge.name }}</h2>
      <div>{{ ridge.description|default_if_none:""|linebreaks|safe }}</div>
    </div>
   
    {% if ridge.links %}
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-hover table-striped">
        {% for link in ridge.links %}
        <tr>
          <td class="min text-primary">
            <a href="{{ link.link|safe }}" target="_blank">
            <strong>{{ link.description|linebreaks|safe }}</strong>
            </a>
          </td>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}

    {% include "Routes/ridge_buttons.html" %}

    <br/><br/>

    {% if ridge.peaks %}
      <table class="table table-striped table-hover">
      {% for peak in ridge.peaks %}
      <tr>
        <td><a href="{% url "peak" peak.slug %}">{{ peak.slug }}</a></td>
        <td>{{ peak.name }}</td>
        <td>{{ peak.height }}м</td>
      </tr>
      {% endfor %}
      </table>
    {% endif %}

    <script>
      new Zooming().listen('img');
    </script>
    
    {% endblock %}
