form .errorlist {
  color: #8b0000;
  font-size: 12px;
}

.has-error {
  color: #8b0000;
  font-size: 12px;
}

.thumbnail-img {
    width: 164px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
}

