form .errorlist {
  color: #8b0000;
  font-size: 12px;
}

.has-error {
  color: #8b0000;
  font-size: 12px;
}

.thumbnail-img {
    width: 164px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
}

.bordered-comment {
  border: 1px solid #b9cdd7; 
  background: #d9edf7;
  margin-top: 1px;
  padding-block: 5px;
}

.bordered-replay {
  border: 1px solid #b4c8d1; 
  background: #d4e8f1;
  padding-block: 5px;
}

.error{
  color: red;
  padding-left: 3px
}